:root {
   --font-family: "Roboto", sans-serif;
   --font-family-raleway: "Raleway", sans-serif;
   --color: #434455;
   --background-color: #FFFFFF;
   --primary-brand-color: #4D5AE5;
   --pressed-state-color: #404BBF;
   --dark-color: #2E2F42;
   --success-color: #31D0AA;
   --text-color: #434455;
   --subtle-text-color: #8E8F99;
   --accent-color: #E7E9FC;

}

body {
    font-family: var(--font-family);
    color: var(--color);
    background-color: var(--background-color);
}

.darklogo{
    font-family: var(--font-family-raleway);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-brand-color);
}
    
.darklogo span {
    color: #2E2F42 ;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link {
   text-decoration: none; 
}

.menulistitem{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}




.list {
    list-style: none;
}

.contacts .menulistitem {
    font-weight: 400;
    color: var(--text-color);
}

.contacts {
    font-style: normal;
}
.menulistitem:hover, .menulistitem:focus {
    color: var(--pressed-state-color);
}

.solution {
    background-color: var(--dark-color);
}

h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.order {
    background-color: #4D5AE5;
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;

}

.order:hover .order:focus {
    background-color: #404BBF;
    cursor: pointer;
}